doctype html
html
	head
		title storeUI Demo - Product
		
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
		
		link(rel="stylesheet", href="../../lib/css/swiper.min.css")
		link(rel="stylesheet", href="../css/storeUI-1.0.css")
	body
		.collection-view
			.product-lockup-cell
				.artwork-view
					.shadow-view
					img(src="https://via.placeholder.com/190x190")
					.border-view
				
				.title-container
					h4 App Name
					h6 App Description
				button.offer-button Get
				
				.product-lockup-badge-stack
					.badge-view
						p.value-label 5.0
						.review-rating-view
							each _ in Array(5)
								.review-rating-star-wrapper
									.background-fill(style="width: 16px")
									.review-rating-star
						p.caption-label 1,000 Ratings
					//- .badge-view.no-padding
					//- 	.review-rating-view.not-enough-ratings
					//- 	p.caption-label Zu wenig Wertungen
						
					.badge-view
						p.value-label 1,000
						p.caption-label Downloads
			
			.product-media-cell.swiper-container#productMedia
				.swiper-wrapper
					each _ in Array(4)
						.screenshot-cell.swiper-slide
							.artwork-view
								.shadow-view
								img(src="https://via.placeholder.com/414x736")
								.border-view
								
			.product-description-cell
				.expandable-text-view(data-max-lines="3")
					p Adipisicing commodo officia officia cillum deserunt nisi anim quis eu proident nisi incididunt mollit veniam. Adipisicing aliquip ullamco commodo excepteur occaecat occaecat nostrud eu. Nostrud exercitation adipisicing nostrud amet veniam culpa. Do fugiat id occaecat adipisicing exercitation amet aute esse incididunt ex magna. Ullamco ad ut ullamco pariatur excepteur enim do veniam est. Esse sunt cupidatat consectetur consequat anim commodo in. Lorem qui in dolore nisi et.
					button.fade-in-button More
				a(href="#").developer-link-cell
					p Developer Name
					span Developer
					
			.title-header-view
				p.title-label Ratings &amp; Reviews
				a.header-button(href="#") See All
				
			.product-rating-cell
				p.current-rating 5.0
				p.out-of-rating of 5
				p.rating-count 1,000 Ratings
				
				.stack-view
					- for (var i=0; i<5; i++)
						.rating-row-view
							.review-rating-view
								- for (var j=0; j<5-i; j++)
									.rating-star
							.rating-progress
								.rating-progress-fill(style="width: 50%")
			
			.horizontal-collection-view-cell.swiper-container#reviewCell
				.swiper-wrapper
					each _ in Array(4)
						.product-review-cell.swiper-slide
							.row
								p.title-label Review Title
								p.date-label 14. Jan
							.row
								.review-rating-view
									- for (var i=0; i<5; i++)
										.rating-star
								p.author-label Anon
							.expandable-text-view(data-max-lines="7")
								p Non reprehenderit laborum eiusmod in commodo voluptate fugiat. Laborum aliquip reprehenderit ex do. Sint deserunt magna enim dolore officia labore sunt laboris nostrud fugiat excepteur amet sint. Veniam duis non commodo dolore deserunt amet et eu in ut nostrud sunt. Pariatur ipsum do ullamco ea eu pariatur eu tempor consequat consequat esse consectetur.
								button.fade-in-button More
								
			.title-header-view
				p.title-label What's New
				a.header-button(href="#") Version History
			
			.titled-paragraph-cell
				.row
					p.primary-subtitle Version 1.0
					p.secondary-subtitle 2w ago
				.expandable-text-view(data-max-lines="3")
					p Ea pariatur ex laboris Lorem ex. Elit consequat esse et non ad aliqua aliqua magna minim minim. Proident commodo ad laborum laborum cupidatat magna aute tempor consequat Lorem aliquip consectetur incididunt. Ut veniam nostrud occaecat aliqua do id est ad non. Voluptate fugiat adipisicing mollit pariatur duis eu enim veniam dolore nulla dolore sit. Ad in veniam voluptate eu esse deserunt consequat occaecat consequat incididunt mollit.
					button.fade-in-button More
					
			.title-header-view
				p.title-label Information
			
			.annotation-collection
				.annotation-cell
					p.title-label Seller
					p.subtitle-label FESTIVAL Development
				.annotation-cell
					p.title-label Size
					p.subtitle-label NaN MB
				.annotation-cell
					p.title-label Category
					p.subtitle-label Demo
				.annotation-cell.expandable
					p.title-label Compatibility
					p.subtitle-label With iPad
				.annotation-cell
					p.title-label Languages
					p.subtitle-label German
				.annotation-cell
					p.title-label Age
					p.subtitle-label 4+
				.annotation-cell
					p.title-label In App Purchases
					p.subtitle-label No
					
			.footnote-cell
				p &copy; 2018 Team FESTIVAL
		script(src="../../lib/js/swiper.min.js")
		script.
			let swipers = {};
			let swiperConstructors = [{
				id: "productMedia",
				options: {
					roundLengths : 'false',
					slidesPerView :'auto',
					slidesPerViewFit : false,
					spaceBetween: 32,
					breakpoints: {
						414: {
							spaceBetween: 10
						},
						768: {
							spaceBetween: 20
						},
						834: {
							spaceBetween: 22
						},
						1024: {
							spaceBetween: 30
						}
					}
				}
			}, {
				id: "reviewCell",
				options: {
					roundLengths : 'false',
					slidesPerView :'auto',
					slidesPerViewFit : false,
					spaceBetween: 32,
					breakpoints: {
						414: {
							spaceBetween: 10
						},
						768: {
							spaceBetween: 20
						},
						834: {
							spaceBetween: 22
						},
						1024: {
							spaceBetween: 30
						}
					}
				}
			}];
			
			swiperConstructors.forEach(item => {
				swipers[item["id"]] = new Swiper(document.getElementById(item["id"]), item["options"]);
			});
			
			document.querySelectorAll(".expandable-text-view").forEach(text => {
				if (text.hasAttribute("data-max-lines")) {
					let maxHeight = 19 * parseInt(text.getAttribute("data-max-lines"));
					text.style.maxHeight = `${maxHeight}px`;
					
					if (text.scrollHeight > maxHeight) {
						text.querySelector(".fade-in-button").classList.add("visible");
					} else {
						text.querySelector(".fade-in-button").classList.remove("visible");
					}
				}
			});