@import "../_mixins";

.annotation-collection {
	width: 100%;
	.padding();
	
	.annotation-cell {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 15px 0;
		
		.title-label {
			color: #8E8E93;
		}
		
		.annotation-cell-item {
			display: flex;
			justify-content: space-between;
			
			.text-label {
				// white-space: nowrap;
				// text-overflow: ellipsis;
				// overflow: hidden;
			}
			
			.sub-text-label {
				margin-left: 12px;
			}
		}
		
		&:not(.no-separator) {
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background-color: var(--cell-separator);
			}
		}
		
		// &:last-child:not(.force-separator):after {
		// 	display: none;
		// }
		
		&:not(.expandable) {
			.annotation-cell-item {
				display: none;
			}
		}
		
		&.expandable {
			&:not(.expanded) {
				cursor: pointer;
				padding-right: 24px;
				
				&:before {
					content: '';
					position: absolute;
					top: 21px;
					right: 0;
					width: 14px;
					height: 9px;
					.encoded-svg-background("<svg width='14px' height='9px' viewBox='0 0 14 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon id='chevron' points='7 8.48528137 0 1.41421356 1.4 2.22044605e-16 7 5.65685425 12.6 1.33226763e-15 14 1.41421356' fill='#9E9E9E'></polygon></svg>");
				}
				
				.annotation-cell-item {
					display: none;
				}
			}
			
			&.expanded {
				display: block;
				
				& > .title-label {
					margin-bottom: 6px;
				}
				& > .subtitle-label {
					display: none;
				}
			}
		}
	}
	
	@media all and (min-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		
		.annotation-cell {
			display: block ;
			width: calc(~"(100% - 60px) /3");
			padding: 0 0 24px;
			
			.title-label,
			.subtitle-label {
				width: 100%;
				margin: 0;
				margin-bottom: 2px;
			}
			
			&:not(:nth-child(3n)) {
				margin-right: 30px;
			}
			
			&:after {
				display: none;
			}
			
			&.expandable {
				&.expanded > .title-label {
					margin-bottom: 2px;
				}
				
				&:before {
					top: 6px;
				}
			}
		}
	}
}