@import "../_mixins";

.titled-paragraph-cell {
	position: relative;
	width: 100%;
	.padding();
	margin-bottom: 32px;
	
	.row {
		p.primary-subtitle,
		p.secondary-subtitle {
			color: #7F7F7F;
		}
		
		@media all and (min-width: 767px) {
			position: absolute;
			width: 142px;
			display: block;
			text-align: right;
		}
		
		@media all and (min-width: 767px) and (orientation: portrait) {
			right: 34px;
		}
		
		@media all and (min-width: 833px) and (orientation: portrait) {
			right: 32px;
		}
		
		@media all and (min-width: 1023px) {
			right: 52px;
		}
		
		@media all and (min-width: 1365px) and (orientation: landscape) {
			right: 51px;
		}
	}
	
	.expandable-text-view {
		margin-top: 12px;
		
		@media all and (min-width: 767px) {
			max-width: calc(100% - 190px);
			margin-top: 0;
		}
	}
	
	.separator-view {
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		height: 1px;
		background-color: var(--cell-separator);
		
		.separatorPosition();
	}
	
	& + &:last-of-type {
		.separator-view {
			display: none;
		}
	}
	
	&.detail-styling {
		padding-top: 16px;
		padding-bottom: 20px;
		margin-bottom: 0;

		@media all and (min-width: 767px) {
			max-width: 672px;
			margin: 0 auto;
		}
		
		.row {
			position: static;
			width: auto;
			display: flex;
			text-align: initial;
			margin-bottom: 2px;
		}
		
		p.primary-subtitle {
			font-weight: 500;
			color: #000;
		}
		
		.expandable-text-view {
			max-width: initial;
		}
	}
}